* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}

body {
	font-family: tahoma;
	background-color: #f5f6fa;
}

.forgot-password, .forgot-password div:last-child form, .change-password,
	.change-password div:last-child form {
	display: flex;
	flex-direction: column;
}

.forgot-password, .change-password {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	gap: 20px;
	background-color: white;
	padding: 50px;
	border-radius: 5px;
	border: 1px solid silver;
}

.forgot-password div:first-child, .change-password div:first-child {
	font-size: 15px;
	font-weight: bold;
}

.forgot-password div:last-child form, .change-password div:last-child form
	{
	gap: 10px;
}

.forgot-password div:last-child form input, .change-password div:last-child form input
	{
	padding: 7px;
	border-radius: 5px;
	border: 1px solid silver;
}

.forgot-password div:last-child form input:not(last-child),
	.change-password div:last-child form input:not(last-child) {
	font-size: 15px;
}

.forgot-password div:last-child form input:last-child, .change-password div:last-child form input:last-child
	{
	background-color: #eb4d4b;
	color: white;
	font-weight: bold;
	border: 1px solid #eb4d4b;
}

.forgot-password div:last-child form input:last-child:hover,
	.change-password div:last-child form input:last-child:hover {
	cursor: pointer;
	opacity: 0.9;
}