* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: tahoma;
}

body {
	background-color: #f5f6fa;
}

html {
	font-size: 15px;
}

a {
	text-decoration: none;
	color: black;
}

.top-page, .main-page, .bottom-page {
	width: 100%;
}

.top-page, .bottom-page {
	height: 10%;
}

.top-page {
	z-index: 1;
	background-color: white;
	border-bottom: 1px solid silver;
	padding: 5px;
	position: fixed;
	top: 0;
	background-color: white;
}

.main-page {
	margin-top: 5%;
	height: 80%;
}

.box-top, .box-main, .box-bottom {
	width: 70%;
	margin-left: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 15%;
}

.box-top {
	height: 100%;
	background-color: white;
}

.box-main {
	flex-direction: column;
}

.name-app a {
	color: #eb4d4b;
	font-size: 2.5rem;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}

.search input[type=text] {
	padding: 5px;
	width: 250px;
	border-radius: 5px;
	border: 1px solid silver;
	padding: 5px;
}

.search input[type=submit], .main-page-search-user-follow input,
	.main-page-search-user-unfollow input {
	color: white;
	padding: 5px;
	border-radius: 5px;
}

.search input[type=submit] {
	width: 100px;
}

.search input[type=submit], .main-page-search-user-follow input {
	background-color: #eb4d4b;
	border: 1px solid #eb4d4b;
}

.main-page-search-user-unfollow input {
	background-color: #3498db;
	border: 1px solid #3498db;
}

.main-page-search-user-follow input, .main-page-search-user-unfollow input
	{
	font-weight: bold;
	padding: 7px;
}

.option ul li, .box-bottom ul li {
	display: inline-block;
	list-style: none;
	margin-left: 15px;
}

.option ul li a {
	font-size: 2rem;
}

.option ul li a:hover {
	cursor: pointer;
}

.box-bottom ul li a {
	font-size: 0.8rem;
	color: silver;
}

.box-bottom ul li a:hover {
	border-bottom: 1px solid silver;
}

.main-page, .main-page-search {
	flex-direction: column;
}

.main-page-search, .main-page-edit-profile, .main-page-change-password {
	display: flex;
	justify-content: center;
	width: 70%;
	margin-left: 15%;
	margin-top: 5%;
	border: 1px solid silver;
	background-color: white;
	width: 70%;
}

/*  main page for home page */
.main-page .box-main-home-page {
	width: 70%;
	margin-left: 15%;
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

.main-page .box-main-home-page .box-main-home-page-left {
	width: 65%;
}

.sub-box-main-home-page-left {
	width: 95%;
}

.main-page .box-main-home-page .box-main-home-page-left .list-user-following
	{
	margin-bottom: 5%;
	border: 1px solid silver;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	overflow: auto;
	padding: 20px;
	background-color: white;
}

.main-page .box-main-home-page .box-main-home-page-left .list-user-following div
	{
	display: flex;
	flex-direction: column;
	width: 90px;
	max-width: 90px;
}

.main-page .box-main-home-page .box-main-home-page-left .list-user-following .user-following div
	{
	text-align: center;
}

.main-page .box-main-home-page .box-main-home-page-left .list-user-following .user-following div:last-child a
	{
	font-size: 0.8rem;
}

.main-page .box-main-home-page .box-main-home-page-left .list-post-photo-user-following
	{
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.main-page .box-main-home-page .box-main-home-page-left .list-post-photo-user-following .box-post-photo-content
	{
	border: 1px solid silver;
	width: 100%;
	height: 550px;
	background-color: white;
}

.main-page .box-main-home-page .box-main-home-page-left .list-post-photo-user-following .box-post-photo-content .name-user,
	.main-page .box-main-home-page .box-main-home-page-left .list-post-photo-user-following .box-post-photo-content .post-photo-content-content
	{
	font-size: 1rem;
}

.main-page .box-main-home-page .box-main-home-page-left .list-post-photo-user-following .box-post-photo-content .post-photo-content-user,
	.main-page .box-main-home-page .box-main-home-page-left .list-post-photo-user-following .box-post-photo-content .post-photo-content-content
	{
	height: 10%;
}

.main-page .box-main-home-page .box-main-home-page-left .list-post-photo-user-following .box-post-photo-content .post-photo-content-user
	{
	display: flex;
	align-items: center;
}

.main-page .box-main-home-page .box-main-home-page-left .list-post-photo-user-following .box-post-photo-content .post-photo-content-photo
	{
	height: 80%;
	background-color: black;
	text-align: center;
}

.main-page .box-main-home-page .box-main-home-page-left .list-post-photo-user-following .box-post-photo-content .post-photo-content-photo img
	{
	max-width: 100%;
	height: 100%;
}
/* -- css for box-main-home-page-right -- */
.main-page .box-main-home-page .box-main-home-page-right {
	width: 35%;
}

.main-page .box-main-home-page .box-main-home-page-right .box-fixed {
	position: fixed;
	width: inherit;
	max-width: 344px;
}

.main-page .box-main-home-page .box-main-home-page-right .box-main-home-page-right-user,
	.main-page .box-main-home-page .box-main-home-page-right .box-main-home-page-right-explore .suggestions
	{
	display: flex;
	align-items: center;
}

.main-page .box-main-home-page .box-main-home-page-right .box-main-home-page-right-user
	{
	justify-content: flex-start;
}

.main-page .box-main-home-page .box-main-home-page-right .box-main-home-page-right-explore .suggestions
	{
	justify-content: center;
}

.main-page .box-main-home-page .box-main-home-page-right .box-main-home-page-right-user
	{
	height: 20%;
}

.main-page .box-main-home-page .box-main-home-page-right .box-main-home-page-right-explore
	{
	margin-top: 10px;
	height: 80%;
}

.main-page .box-main-home-page .box-main-home-page-right .box-fixed,
	.main-page .box-main-home-page .box-main-home-page-right .box-main-home-page-right-explore,
	.main-page .box-main-home-page .box-main-home-page-right .box-main-home-page-right-explore .list-suggestions
	{
	display: flex;
	flex-direction: column;
}

.main-page .box-main-home-page .box-main-home-page-right .box-main-home-page-right-explore .suggestions div:first-child
	{
	font-weight: bold;
	color: silver;
	width: 80%;
}

.main-page .box-main-home-page .box-main-home-page-right .box-main-home-page-right-explore .suggestions div:last-child
	{
	width: 20%;
}

.main-page .box-main-home-page .box-main-home-page-right .box-main-home-page-right-explore .list-suggestions .another
	{
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-page .box-main-home-page .box-main-home-page-left .box-post-photo-content div:not(div:last-child),
	.main-page .box-main-home-page .box-main-home-page-left .box-post-photo-content .post-photo-content-user div,
	.main-page .box-main-home-page .box-main-home-page-right .box-main-home-page-right-user div,
	.main-page .box-main-home-page .box-main-home-page-right .box-main-home-page-right-explore .list-suggestions .another div
	{
	padding: 5px;
}

.main-page .box-main-home-page .box-main-home-page-right .box-main-home-page-right-explore .list-suggestions .another .avatar
	{
	width: 25%;
}

.main-page .box-main-home-page .box-main-home-page-right .box-main-home-page-right-user .name-user a,
	.main-page .box-main-home-page .box-main-home-page-right .box-main-home-page-right-explore .suggestions,
	.main-page .box-main-home-page .box-main-home-page-right .box-main-home-page-right-explore .list-suggestions .another .name-user a,
	.main-page .box-main-home-page .box-main-home-page-right .box-main-home-page-right-explore .list-suggestions .another .follow a
	{
	font-size: 0.8rem;
	font-weight: bold;
}

.main-page .box-main-home-page .box-main-home-page-right .box-main-home-page-right-explore .list-suggestions .another .name-user
	{
	width: 50%
}

.main-page .box-main-home-page .box-main-home-page-right .box-main-home-page-right-explore .list-suggestions .another .follow
	{
	width: 20%;
}

.main-page .box-main-home-page .box-main-home-page-right .box-main-home-page-right-explore .list-suggestions .another .follow a
	{
	color: #3498db;
	font-weight: bold;
}

/* end */

/* css for explore page */
.main-page .box-main-explore-page {
	width: 60%;
	margin-left: 20%;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.main-page .box-main-explore-page .suggestion-title {
	padding: 20px;
}

.main-page .box-main-explore-page .list-suggestion {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 5px;
}

.main-page .box-main-explore-page .list-suggestion .sub-suggestion .box-another
	{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
}

.main-page .box-main-explore-page .list-suggestion .sub-suggestion form
	{
	padding: 20px;
}

.main-page .box-main-explore-page .list-suggestion .sub-suggestion .box-another .avatar
	{
	width: 10%;
}

.main-page .box-main-explore-page .list-suggestion .sub-suggestion .box-another .another
	{
	width: 75%;
}

.main-page .box-main-explore-page .list-suggestion .sub-suggestion .box-another .another .follower
	{
	color: silver;
}

.main-page .box-main-explore-page .list-suggestion .sub-suggestion .box-another .follow
	{
	width: 15%;
}

.main-page .box-main-explore-page .list-suggestion .sub-suggestion .box-another .follow input
	{
	padding: 5px;
	color: white;
	background-color: #eb4d4b;
	font-weight: bold;
	border: 1px solid #eb4d4b;
	border-radius: 5px;
}

.main-page .box-main-explore-page .list-suggestion .sub-suggestion .box-another .another .name-another a:hover
	{
	border-bottom: 1px solid black;
}

.main-page .box-main-explore-page .list-suggestion .sub-suggestion .box-another .follow input:hover
	{
	cursor: pointer;
	opacity: 0.9;
}
/* end */

/* search user */
.main-page-search form {
	width: 100%;
}

.main-page-search .main-page-search-user {
	width: 80%;
	margin-left: 10%;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 100px;
	border: 2px solid #eb4d4b;
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 7px;
}

.main-page-search-user-avatar, .main-page-search-user-follow {
	width: 15%;
}

.main-page-search-user li {
	list-style: none;
}

.main-page-search-user-avatar a img {
	background-color: black;
}

.main-page-search-user-information {
	width: 70%;
}

.main-page-search-user div:last-child {
	width: 15%;
}

.main-page-search-user div:last-child input {
	width: 100%;
	max-width: 100%;
}
/* end */
.left-main-page-edit-profile, .left-main-page-change-password {
	width: 25%;
}

.left-main-page-edit-profile ul li, .left-main-page-change-password ul li
	{
	list-style: none;
	padding: 15px;
}

.left-main-page-edit-profile ul li a, .left-main-page-change-password ul li a
	{
	font-size: 1.2rem;
}

.left-main-page-edit-profile ul li a:hover {
	color: #eb4d4b;
	font-weight: bold;
}

.left-main-page-change-password ul li a:hover {
	color: #eb4d4b;
	font-weight: bold;
}

.right-main-page-edit-profile, .right-main-page-change-password {
	width: 75%;
	border-left: 1px solid silver;
	display: flex;
	justify-content: center;
	align-items: center;
}

.right-main-page-edit-profile tr:first-child ul li {
	list-style: none;
}

.right-main-page-edit-profile tr:first-child ul li:first-child {
	color: #eb4d4b;
}

.right-main-page-edit-profile form, .right-main-page-change-password form
	{
	padding: 20px;
}

.right-main-page-edit-profile form, .right-main-page-change-password form i
	{
	margin-left: -25px;
}

.right-main-page-edit-profile form, .right-main-page-change-password form i:hover
	{
	cursor: pointer;
}

.right-main-page-edit-profile form, .right-main-page-change-password form i#eye-oldpassword
	{
	top: 6%;
}

.right-main-page-edit-profile form, .right-main-page-change-password form i#eye-newpassword
	{
	top: 33%;
}

.right-main-page-edit-profile form, .right-main-page-change-password form i#eye-confirmpassword
	{
	top: 59%;
}

.right-main-page-edit-profile input:not(.select-image),
	right-main-page-edit-profile textarea, .gender {
	border-radius: 5px;
	border: 1px solid silver;
	margin-bottom: 10px;
	padding: 8px;
}

.right-main-page-change-password input {
	border-radius: 5px;
	border: 1px solid silver;
	margin-bottom: 10px;
	padding: 8px;
}

.right-main-page-edit-profile tr td, .right-main-page-change-password tr td
	{
	margin-right: 10px;
}

.right-main-page-edit-profile input:not(.submit-edit, .select-image) {
	width: 350px;
}

.right-main-page-change-password input:not(.submit-change-password) {
	width: 350px;
}

.right-main-page-edit-profile .submit-edit {
	background-color: #eb4d4b;
	color: white;
	border: 1px solid #eb4d4b;
	font-weight: bold;
	width: 100px;
}

.right-main-page-change-password .submit-change-password {
	background-color: #eb4d4b;
	color: white;
	border: 1px solid #eb4d4b;
	font-weight: bold;
	width: 100px;
}

.search input[type=submit]:hover, .main-page-search-user-follow input:hover,
	.main-page-search-user-unfollow input:hover, .submit-edit:hover,
	.submit-change-password:hover, .post-photo-submit input:hover {
	opacity: 0.9;
	cursor: pointer;
}

.user {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid silver;
	padding: 30px 0 30px 0;
}

.about-user p {
	padding: 10px;
}

.about-user a {
	color: #2980b9;
}

.left {
	margin-right: 50px;
}

.left .avatar {
	border-radius: 50%;
	width: 170px;
	height: 170px;
	color: white;
}

.right table tr td {
	padding: 10px;
	text-align: center;
}

.name-user {
	font-size: 1.2rem;
}

.edit-profile, .message-another, .up-post, .follow-another,
	.unfollow-another {
	background-color: white;
	border: 1px solid silver;
	border-radius: 5px;
	padding: 7px;
	width: 200px;
	font-weight: bold;
}

.up-post, .follow-another, .unfollow-another {
	background-color: #eb4d4b;
	color: white;
}

/* list posts */
.list-post-in-profile {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.list-post-in-profile div {
	width: calc(100%/ 3);
	height: 310px;
}

.list-post-in-profile img {
	height: 100%;
	width: 100%;
	padding: 5px;
}

.list-post-in-profile img:hover {
	cursor: pointer;
	opacity: 0.8;
}

/* css for form post photo, form following, form followers in profile */
.post-photo, .post-photo-content-profile-page, .form-list-following,
	.form-list-follower, .form-list-follower-history {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 350px;
	background-color: white;
	border-radius: 10px;
}

/* css for form post photo content */
.post-photo-content-profile-page {
	width: 600px;
	height: 550px;
	top: 55%;
}

.post-photo-content-profile-page .post-photo-content-title {
	height: 10%;
}

.post-photo-content-profile-page .box-post-photo-content {
	height: 90%;
}

.post-photo-content-profile-page .box-post-photo-content .post-photo-content-photo
	{
	height: 70%;
	background-color: black;
	text-align: center;
}

.post-photo-content-profile-page .box-post-photo-content .post-photo-content-photo img
	{
	max-width: 100%;
	height: 100%;
}

.post-photo-content-profile-page .box-post-photo-content .post-photo-content-user
	{
	display: flex;
	align-items: center;
	column-gap: 30px;
	padding: 5px;
}

.post-photo-content-profile-page .box-post-photo-content .post-photo-content-content
	{
	padding: 5px;
}

.post-photo-content-profile-page .box-post-photo-content .post-photo-content-user .submit-edit-delete
	{
	display: flex;
	justify-content: flex-end;
}

.post-photo-content-profile-page .box-post-photo-content .post-photo-content-user .submit-edit-delete #submit-edit-post
	{
	margin-right: 5px;
}

/* end */
.post-photo .post-photo-box {
	padding: 10px;
}

.post-photo-main, .post-photo-main div, .post-photo-image,
	.post-photo-submit {
	padding: 5px;
}

.post-photo-box .post-photo-user {
	display: flex;
	justify-content: left;
	align-items: center;
}

.post-photo-box .post-photo-content-textarea textarea {
	width: 100%;
}

.post-photo-image input, .post-photo-submit input {
	width: 90%;
	margin-left: 5%;
}

.post-photo-submit input {
	padding: 7px;
	color: white;
	background-color: #eb4d4b;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid #eb4d4b;
}

/* form following and form follower and form follower history*/
.form-list-follower-history {
	top: 50%;
	left: 50%;
	transform: translateY(-75%);
	font-size: 0.9rem;
}

.form-list-following, .form-list-follower, .form-list-follower-history {
	width: 450px;
}

.post-photo .post-photo-title, .post-photo-content-profile-page .post-photo-content-title,
	.form-list-following-title, .form-list-follower-title,
	.form-list-follower-history-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	padding: 10px;
	border-bottom: 1px solid silver;
}

.post-photo .post-photo-title button, .post-photo-content-profile-page .post-photo-content-title button,
	.form-list-following-title button, .form-list-follower-title button,
	.form-list-follower-history-title button {
	background-color: white;
	border: none;
	font-size: 1.5rem;
}

.post-photo .post-photo-title button:hover,
	.post-photo-content-profile-page .post-photo-content-title button:hover,
	.form-list-following-title button:hover, .form-list-follower-title button:hover,
	.form-list-follower-history-title button:hover {
	cursor: pointer;
}

.form-list-following div:last-child, .form-list-follower div:last-child,
	.form-list-follower-history div:last-child {
	max-height: 100%;
	overflow: auto;
}

.form-list-following .list-following, .form-list-follower .list-follower,
	.form-list-follower-history .list-follower {
	width: 100%;
	height: 70px;
	padding: 7px;
	background-color: white;
	color: black;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.form-list-following .list-following div:nth-child(1),
	.form-list-follower .list-follower div:nth-child(1),
	.form-list-follower-history .list-follower div:nth-child(1) {
	width: 15%;
}

.form-list-following .list-following div:nth-child(2),
	.form-list-follower .list-follower div:nth-child(2),
	.form-list-follower-history .list-follower div:nth-child(2) {
	width: 65%;
}

.form-list-following .list-following div:nth-child(3),
	.form-list-follower .list-follower div:nth-child(3),
	.form-list-follower-history .list-follower div:nth-child(3) {
	width: 20%;
}

.form-list-following .list-following div:nth-child(3) input,
	.form-list-follower .list-follower div:nth-child(3) input {
	width: 80%;
}

.box-main-home-page-right .list-suggestions .name-user a:hover,
	.list-following-user-name a:hover, .list-follower-user-name a:hover,
	.list-follower-history-user-name a:hover {
	border-bottom: 1px solid black;
}

.list-following-user-unfollow input, .list-following-user-follow input,
	.list-follower-user-unfollow input, .list-follower-user-follow input,
	.list-follower-user-delete input, .box-post-photo-content .post-photo-content-user div:first-child input,
	.box-post-photo-content .post-photo-content-user .submit-edit-delete input
	{
	color: white;
	border-radius: 3px;
	padding: 5px;
	font-weight: bold;
}

.list-following-user-unfollow input, .list-follower-user-unfollow input,
	.box-post-photo-content .post-photo-content-user .submit-edit-delete #submit-edit-post input
	{
	background-color: #3498db;
	border: 1px solid #3498db;
}

.list-follower-user-delete input, .list-following-user-follow input,
	.list-follower-user-follow input, .box-post-photo-content .post-photo-content-user .submit-edit-delete #submit-delete-post input
	{
	background-color: #eb4d4b;
	border: 1px solid #eb4d4b;
}

.list-following-user-unfollow input:hover, .list-following-user-follow input:hover,
	.list-follower-user-unfollow input:hover, .list-follower-user-follow input:hover,
	.list-follower-user-delete input:hover, .box-post-photo-content .post-photo-content-user .submit-edit-delete input:hover
	{
	opacity: 0.9;
	cursor: pointer;
}

/* end  */

/* -- border-radius for img-avatar --*/
.main-page .box-main-home-page .box-main-home-page-left .list-user-following img,
	.main-page .box-main-home-page .box-main-home-page-right .box-main-home-page-right-user .avatar-user img,
	.main-page .box-main-home-page .box-main-home-page-right .box-main-home-page-right-explore .list-suggestions .another .avatar img,
	.main-page .box-main-explore-page .list-suggestion .sub-suggestion .box-another .avatar img,
	.main-page-search-user-avatar a img, .right-main-page-edit-profile img,
	.right-main-page-change-password img, .box-post-photo-content .post-photo-content-user div:first-child a img,
	.post-photo-user img, .list-following-user-avatar img,
	.list-follower-user-avatar img {
	border-radius: 50%;
}

/* -- text-decoration for link user -- */
.edit-profile:hover, .up-post:hover, .message-another:hover,
	.follow-another:hover, .unfollow-another:hover {
	cursor: pointer;
	opacity: 0.9;
}

.btn-show-follower, .btn-show-following {
	border: none;
	cursor: pointer;
	font-size: 1rem;
	background-color: #f5f6fa;
}

.bottom-page {
	padding: 30px;
}

.box-bottom {
	justify-content: center;
}

/*-- status online --*/
.main-page .box-main .user .left, .main-page .box-main-home-page .box-main-home-page-left .list-user-following .user-following div:first-child,
	.main-page .box-main-home-page .box-main-home-page-left .list-post-photo-user-following .avatar
	{
	position: relative;
}

.main-page .box-main .user .left .status, .main-page .box-main-home-page .box-main-home-page-left .list-user-following .user-following div:first-child .status,
	.main-page .box-main-home-page .box-main-home-page-left .list-post-photo-user-following .avatar .status
	{
	position: absolute;
	border-radius: 50%;
	background-color: green;
}

.main-page .box-main-home-page .box-main-home-page-left .list-user-following .user-following div:first-child .status,
	.main-page .box-main-home-page .box-main-home-page-left .list-post-photo-user-following .avatar .status
	{
	top: 73%;
	left: 60%;
	width: 10px;
	height: 10px;
}

.main-page .box-main-home-page .box-main-home-page-left .list-post-photo-user-following .avatar .status
	{
	top: 67%;
	left: 63%;
}

.main-page .box-main .user .left .status {
	top: 80%;
	left: 80%;
	width: 15px;
	height: 15px;
}