* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: tahoma;
}

body {
	background-color: #f5f6fa;
}

html {
	font-size: 15px;
}

.top-page, .main-page, .bottom-page {
	width: 100%;
}

.box-top, .box-main, .box-bottom {
	width: 70%;
	margin-left: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.box-main {
	flex-direction: column;
}

.box-top {
	height: 100%;
	background-color: white;
}

.top-page {
	background-color: white;
	height: 10vh;
	border-bottom: 1px solid silver;
	background-color: white;
	background-color: white;
}

.name-app a {
	text-decoration: none;
	color: #eb4d4b;
	font-size: 2.5rem;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}

.search input[type=text] {
	padding: 5px;
	width: 250px;
	border-radius: 5px;
	border: 1px solid silver;
	padding: 5px;
}

.search input[type=submit], .main-page-search-user-follow input,
	.main-page-search-user-unfollow input {
	color: white;
	padding: 5px;
	border-radius: 5px;
}

.search input[type=submit] {
	width: 100px;
}

.search input[type=submit], .main-page-search-user-follow input {
	background-color: #eb4d4b;
	border: 1px solid #eb4d4b;
}

.main-page-search-user-unfollow input {
	background-color: #3498db;
	border: 1px solid #3498db;
}

.main-page-search-user-follow input, .main-page-search-user-unfollow input
	{
	width: 100%;
	font-weight: bold;
	padding: 7px;
}

.option ul li, .box-bottom ul li {
	display: inline-block;
	list-style: none;
	margin-left: 15px;
}

.option ul li a, .box-bottom ul li a {
	text-decoration: none;
	color: black;
}

.option ul li a {
	font-size: 2rem;
}

.option ul li a:hover {
	cursor: pointer;
}

.box-bottom ul li a {
	font-size: 0.8rem;
	color: silver;
}

.box-bottom ul li a:hover {
	border-bottom: 1px solid silver;
}

.main-page, .main-page-search {
	flex-direction: column;
}

.main-page-search, .main-page-edit-profile, .main-page-change-password {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
	margin-left: 15%;
	margin-top: 30px;
	border: 1px solid silver;
	background-color: white;
}

/* search user */
.main-page-search form {
	width: 100%;
}

.main-page-search .main-page-search-user {
	width: 80%;
	margin-left: 10%;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 100px;
	border: 2px solid #eb4d4b;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-page-search-user-avatar, .main-page-search-user-follow {
	width: 15%;
}

.main-page-search-user a {
	text-decoration: none;
	color: black;
}

.main-page-search-user li {
	list-style: none;
}

.main-page-search-user-avatar a img {
	border-radius: 50%;
	background-color: black;
}

.main-page-search-user-information {
	width: 70%;
}

/* end */
.left-main-page-edit-profile, .left-main-page-change-password {
	width: 25%;
}

.left-main-page-edit-profile ul li, .left-main-page-change-password ul li
	{
	list-style: none;
	padding: 15px;
}

.left-main-page-edit-profile ul li a, .left-main-page-change-password ul li a
	{
	text-decoration: none;
	color: black;
	font-size: 1.2rem;
}

.left-main-page-edit-profile ul li a:hover {
	color: #eb4d4b;
	font-weight: bold;
}

.left-main-page-change-password ul li a:hover {
	color: #eb4d4b;
	font-weight: bold;
}

.right-main-page-edit-profile, .right-main-page-change-password {
	width: 75%;
	border-left: 1px solid silver;
	display: flex;
	justify-content: center;
	align-items: center;
}

.right-main-page-edit-profile tr:first-child ul li {
	list-style: none;
}

.right-main-page-edit-profile tr:first-child ul li:first-child {
	color: #eb4d4b;
}

.right-main-page-edit-profile img, .right-main-page-change-password img
	{
	border-radius: 50%;
}

.right-main-page-edit-profile form, .right-main-page-change-password form
	{
	padding-top: 50px;
	padding-bottom: 50px;
}

.right-main-page-edit-profile input:not(.select-image), textarea,
	.gender {
	border-radius: 5px;
	border: 1px solid silver;
	margin-bottom: 10px;
	padding: 8px;
}

.right-main-page-change-password input {
	border-radius: 5px;
	border: 1px solid silver;
	margin-bottom: 10px;
	padding: 8px;
}

.right-main-page-edit-profile tr td, .right-main-page-change-password tr td
	{
	margin-right: 10px;
}

.right-main-page-edit-profile input:not(.submit-edit, .select-image) {
	width: 350px;
}

.right-main-page-change-password input:not(.submit-change-password) {
	width: 350px;
}

.right-main-page-edit-profile .submit-edit {
	background-color: #eb4d4b;
	color: white;
	border: 1px solid #eb4d4b;
	font-weight: bold;
	width: 100px;
}

.right-main-page-change-password .submit-change-password {
	background-color: #eb4d4b;
	color: white;
	border: 1px solid #eb4d4b;
	font-weight: bold;
	width: 100px;
}

.search input[type=submit]:hover, .main-page-search-user-follow input:hover,
	.main-page-search-user-unfollow input:hover, .submit-edit:hover,
	.submit-change-password:hover, .post-photo-submit input:hover {
	opacity: 0.9;
	cursor: pointer;
}

.user {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid silver;
	padding: 30px 0 30px 0;
}

.about-user p {
	padding: 10px;
}

.about-user a {
	text-decoration: none;
	color: #2980b9;
}

.left {
	margin-right: 50px;
}

.left .avatar {
	border-radius: 50%;
	width: 170px;
	height: 170px;
	color: white;
}

.right table tr td {
	padding: 10px;
	text-align: center;
}

.name-user {
	font-size: 1.2rem;
}

.edit-profile, .message-another, .up-post, .follow-another,
	.unfollow-another {
	background-color: white;
	border: 1px solid silver;
	border-radius: 5px;
	padding: 7px;
	width: 200px;
	font-weight: bold;
}

.up-post, .follow-another, .unfollow-another {
	background-color: #eb4d4b;
	color: white;
}

/* list posts */
.list-post-in-profile {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	display: flex;
}

.list-post-in-profile img {
	width: 320px;
	height: 320px;
	padding: 5px;
}

/* css for form post photo, form following, form followers in profile */
.post-photo, .form-list-following, .form-list-follower,
	.form-list-follower-history {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 350px;
	background-color: white;
	border-radius: 10px;
}

.form-list-follower-history {
	top: 50%;
	left: 50%;
	transform: translateY(-75%);
}

.form-list-following, .form-list-follower, .form-list-follower-history {
	width: 450px;
}

.post-photo .post-photo-title, .form-list-following-title,
	.form-list-follower-title, .form-list-follower-history-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	padding: 10px;
	border-bottom: 1px solid silver;
}

.post-photo .post-photo-title button, .form-list-following-title button,
	.form-list-follower-title button, .form-list-follower-history-title button
	{
	background-color: white;
	border: none;
	font-size: 1.5rem;
}

.post-photo .post-photo-title button:hover, .form-list-following-title button:hover,
	.form-list-follower-title button:hover,
	.form-list-follower-history-title button:hover {
	cursor: pointer;
}

.post-photo .post-photo-box {
	padding: 10px;
}

.post-photo-main, .post-photo-main div, .post-photo-image,
	.post-photo-submit {
	padding: 5px;
}

.post-photo-user {
	display: flex;
	justify-content: left;
	align-items: center;
}

.post-photo-user img {
	border-radius: 50%;
}

.post-photo-content textarea {
	width: 100%;
}

.post-photo-image input, .post-photo-submit input {
	width: 90%;
	margin-left: 5%;
}

.post-photo-submit input {
	padding: 7px;
	color: white;
	background-color: #eb4d4b;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid #eb4d4b;
}

/* form following and form follower */
.form-list-following form, .form-list-follower form {
	max-height: 100%;
	overflow: auto;
}

.list-following, .list-follower {
	width: 100%;
	height: 70px;
	padding: 7px;
	background-color: white;
	color: black;
	display: flex;
	justify-content: left;
	align-items: center;
}

.list-following-user-avatar, .list-follower-user-avatar {
	width: 15%;
}

.list-following-user-avatar img, .list-follower-user-avatar img {
	border-radius: 50%;
	background-color: white;
}

.list-following-user-name, .list-follower-user-name {
	width: 70%;
}

.list-follower-history-user-name {
	width: 85%;
}

.list-following-user-name a:hover, .list-follower-user-name a:hover,
	.list-follower-history-user-name a:hover {
	border-bottom: 1px solid black;
}

.list-following-user-name a, .list-follower-user-name a,
	.list-follower-history-user-name a {
	text-decoration: none;
	color: black;
}

.list-following-user-unfollow, .list-following-user-follow,
	.list-follower-user-unfollow, .list-follower-user-follow,
	.list-follower-user-delete {
	width: 15%;
}

.list-following-user-unfollow input, .list-following-user-follow input,
	.list-follower-user-unfollow input, .list-follower-user-follow input,
	.list-follower-user-delete input {
	color: white;
	border-radius: 3px;
	padding: 5px;
	font-weight: bold;
}

.list-following-user-unfollow input, .list-follower-user-unfollow input
	{
	background-color: #3498db;
	border: 1px solid #3498db;
}

.list-follower-user-delete input, .list-following-user-follow input,
	.list-follower-user-follow input {
	background-color: #eb4d4b;
	border: 1px solid #eb4d4b;
}

.list-following-user-unfollow input:hover, .list-following-user-follow input:hover,
	.list-follower-user-unfollow input:hover, .list-follower-user-follow input:hover,
	.list-follower-user-delete input:hover {
	opacity: 0.9;
	cursor: pointer;
}

/* end  */
.edit-profile:hover, .up-post:hover, .message-another, .follow-another,
	.unfollow-another {
	cursor: pointer;
	opacity: 0.9;
}

.num-post {
	text-decoration: none;
	color: black;
}

.btn-show-follower, .btn-show-following {
	border: none;
	cursor: pointer;
	font-size: 1rem;
	background-color: #f5f6fa;
}

.bottom-page {
	padding: 30px;
}

.box-bottom {
	justify-content: center;
}