* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: tahoma;
}

body {
	background-color: #f5f6fa;
}

html {
	font-size: 15px;
}

.top-page, .main-page, bottom-page {
	width: 100%;
}

.box-top, .box-main, .box-bottom {
	width: 70%;
	margin-left: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.box-top {
	background-color: white;
}

.top-page {
	background-color: white;
	height: 10vh;
	border-bottom: 1px solid silver;
}

.name-app a {
	text-decoration: none;
	color: #eb4d4b;
	font-size: 2.5rem;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}

.search input {
	display: block;
	padding: 5px;
	width: 250px;
	border-radius: 5px;
	border: 1px solid silver;
}

.option ul li, .box-bottom ul li {
	display: inline-block;
	list-style: none;
	margin-left: 15px;
}

.option ul li a, .box-bottom ul li a {
	text-decoration: none;
	color: black;
}

.option ul li a {
	font-size: 2rem;
}

.box-bottom ul li a {
	font-size: 0.8rem;
	color: silver;
}

.box-bottom ul li a:hover {
	border-bottom: 1px solid silver;
}

.main-page {
	flex-direction: column;
}

.user, .about-user {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.user {
	border-bottom: 1px solid silver;
}

.left {
	margin-right: 100px;
}

.right table tr td {
	padding: 10px;
	text-align: center;
}

.edit-profile {
	background-color: white;
	border: 1px solid silver;
	border-radius: 5px;
	padding: 5px;
	width: 200px;
	font-weight: bold;
}

.edit-profile:hover {
	cursor: pointer;
}

.num-post, .num-follower, .num-following {
	text-decoration: none;
	color: black;
}

.box-bottom {
	justify-content: center;
}