* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: tahoma;
}

html {
	font-size: 15px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.user, .about-user {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.user {
	border-bottom: 1px solid silver;
}

.left {
	margin-right: 100px;
}

.right table tr td {
	padding: 10px;
}

.edit-profile {
	background-color: white;
	border: 1px solid silver;
	border-radius: 5px;
	padding: 5px;
	width: 200px;
	font-weight: bold;
}

.edit-profile:hover {
	cursor: pointer;
}

.num-post, .num-follower, .num-following {
	text-decoration: none;
	color: black;
}